{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>GT Movies</h2>
    <p>Your Gateway to Unlimited Movie Magic!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to GT Movies</h4>
        <p>Explore a curated collection of films, add your favorites to your cart, and enjoy a seamless browsing experience.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
